<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b0a6f6">  <td>21/02/22 09:59:25</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;VerifySocketStatus.Initializtion()[pri:0, instance:TestCase.VerifySocketStatus@4ddced80]">&gt;&gt;Initializtion</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1254344205</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/02/22 09:59:30</td>   <td>4043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifySocketStatus.VerifySocketBStatusON()[pri:0, instance:TestCase.VerifySocketStatus@4ddced80]">VerifySocketBStatusON</td> 
  <td>main@1254344205</td>   <td></td> </tr>
</table>
