<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b0a6f6">  <td>21/02/22 10:04:20</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SocketBStatusON.Initializtion()[pri:0, instance:TestCase.SocketBStatusON@4ddced80]">&gt;&gt;Initializtion</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@961712517</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/02/22 10:04:23</td>   <td>2987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocketBStatusON.EnerGenieLANPowerON()[pri:0, instance:TestCase.SocketBStatusON@4ddced80]">EnerGenieLANPowerON</td> 
  <td>main@961712517</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>21/02/22 10:04:32</td>   <td>11876</td> <td>&nbsp;</td><td title="&gt;&gt;VerifySocketStatus.Initializtion()[pri:0, instance:TestCase.VerifySocketStatus@3c130745]">&gt;&gt;Initializtion</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@961712517</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>21/02/22 10:04:36</td>   <td>15578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifySocketStatus.VerifySocketBStatusON()[pri:0, instance:TestCase.VerifySocketStatus@3c130745]">VerifySocketBStatusON</td> 
  <td>main@961712517</td>   <td></td> </tr>
</table>
